body {
  font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

#videos {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
    justify-content: center;
}
#videos video {
	width: 46%;
	margin: 0 2%;
	height: 100px;
}