doctype html
html(lang='de')
    head
        title Multimedia Processing Video
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', lang='de', content='')
        meta(name='keywords', lang='en', content='')
        meta(name='author', content='Michael Duve, Felix Maulwurf')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
        meta(name='format-detection', content='telephone=no')
        meta(name='robots', content='index,follow,noarchive')

        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")

    body
        p.alert.alert-warning Nur in neueren Chrome-Versionen getestet
        main.wrapper
            h1 Multimedia Processing Video
                small von Michael Duve &amp; Felix Maulwurf
            article.content-1
                h2.text-center Bild Filter
                section.row
                    div.col-sm-6.form-group
                        label.col-sm-2.control-label Quelle:
                        div.col-sm-10
                            select#input.form-control
                                option Bild
                                option Video
                                option Kamera
                    div.col-sm-6.form-group
                        label.col-sm-2.control-label Filter:
                        div.col-sm-10
                            select#filter.form-control
                                option Keiner
                                option Graustufen
                                option Sepia
                                option Weichzeichnung (Mittelwert)
                                option Weichzeichnung (Gauss)
                                option Kantendetektion (Prewitt)
                section#image.row
                    div.col-sm-6
                        h3 Original
                        img#imageElement(data-src="../assets/blue_small.jpg")
                    div.col-sm-6
                        h3 Filter
                        canvas#canvas1
                section#video.row(style="display: none;")
                    div.col-sm-6
                        h3 Original
                        video#videoElement(loop="true" muted="true", controls="true", data-src="../assets/blue_small.mp4")
                    div.col-sm-6
                        h3 Filter
                        canvas#canvas2
                section#camera.row(style="display: none;")
                    div.col-sm-6
                        h3 Original
                        video#cameraElement(loop="true" muted="true", controls="true", data-src="camera")
                    div.col-sm-6
                        h3 Filter
                        canvas#canvas3
                section#text
                    h3 Allgemein
                    p Die Performance der Filter ist stark unterschiedlich. Die Blurfilter sind Farbfilter und benötigen wesentlich mehr Rechenzeit, als die Kantendetektion.
                    h3.text-center a) Mittelwert-Filter
                    p Der Mittelwert-Filter wurde mit folgender 3x3-Matrix umgesetzt:
                    pre(style="display: inline-block;").
                        1/9 1/9 1/9
                        1/9 1/9 1/9
                        1/9 1/9 1/9
                    p Jedes angrenzende Pixel wird gleichgewichtet.
                    p
                        em Die Funktionalität des Filters ist in der Funktion "Filter.BLUR" zu finden
                    h3.text-center b) Gauss-Filter
                    p Der Gauss-Filter wurde mit folgender 3x3-Matrix umgesetzt:
                    pre(style="display: inline-block;").
                        0.077847 0.123317 0.077847
                        0.123317 0.195346 0.123317
                        0.077847 0.123317 0.077847
                    p
                        | Der 3x3 Filterkern wurde mit Hilfe von
                        a(href="http://dev.theomader.com/gaussian-kernel-calculator/", target="_blank") http://dev.theomader.com/gaussian-kernel-calculator/ &nbsp;
                        | umgesetzt.
                    p
                        em Die Funktionalität des Filters ist in der Funktion "Filter.BLUR" zu finden
                    h3.text-center c) Kantendetektion mit Prewitt-Operator
                    p Der Prewitt-Operator hat zwei 3x3 Filterkerne (1x vertikal &amp; 1x horizontal):
                    pre(style="display: inline-block;").
                        -1 0 1      -1 -1 -1
                        -1 0 1       0  0  0
                        -1 0 1       1  1  1
                    p Bevor der Filter angewendet werden kann, muss das Bild in Graustufen vorliegen. Es wird durch den Graustufen-Filter gejagt. Hiernach kann der Filter sich in einen Zwei-Pass-Filter zerlegen lassen, sodass die Geschwindigkeit stark optimiert werden kann. Hierzu wird das originale Bild erst vertikal und dann horizontal mit dem jeweiligen Filterkern multipliziert. Anschließend werden die Differenzen mit folgender Formel berechnet:
                    pre(style="display: inline-block;").
                        Math.sqrt(vertical * vertical + horizontal * horizontal)
                    p
                        em Die Funktionalität des Filters ist in der Funktion "Filter.PREWITT" zu finden
                    h3.text-center d) Nutzung von WebGL und Shadern
                    p Eindeutig zu aufwendig. Nicht umgesetzt.
                    h3.text-center e) Einbinden des Videos und der Kamera
                    p Siehe Dropdown oben
        script(src="js/Helper.js")
        script(src="js/app.js")
