doctype html
html(lang='de')
    head
        title Multimedia Processing Video
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', lang='de', content='')
        meta(name='keywords', lang='en', content='')
        meta(name='author', content='Michael Duve, Felix Maulwurf')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
        meta(name='format-detection', content='telephone=no')
        meta(name='robots', content='index,follow,noarchive')

        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")

    body
        p.alert.alert-warning Nur in neueren Chrome-Versionen getestet
        main.wrapper
            h1 Multimedia Processing Video
                small von Michael Duve &amp; Felix Maulwurf
            article.content-1
                h2.text-center Bild Filter
                section.row
                    div.col-sm-6.form-group
                        label.col-sm-2.control-label Quelle:
                        div.col-sm-10
                            select#input.form-control
                                option Bild
                                option Video
                                option Kamera
                    div.col-sm-6.form-group
                        label.col-sm-2.control-label Filter:
                        div.col-sm-10
                            select#filter.form-control
                                option Keiner
                                option Graustufen
                                option Sepia
                                option Weichzeichnung (Mittelwert)
                                option Weichzeichnung (Gauss)
                                option Kantendetektion (Prewitt)
                section#image.row
                    div.col-sm-6
                        h3 Original
                        img#imageElement(data-src="../assets/blue_small.jpg")
                    div.col-sm-6
                        h3 Filter
                        canvas#canvas1
                section#video.row(style="display: none;")
                    div.col-sm-6
                        h3 Original
                        video#videoElement(loop="true" muted="true", controls="true", data-src="../assets/blue_small.mp4")
                    div.col-sm-6
                        h3 Filter
                        canvas#canvas2
                section#camera.row(style="display: none;")
                    div.col-sm-6
                        h3 Original
                        video#cameraElement(loop="true" muted="true", controls="true", data-src="camera")
                    div.col-sm-6
                        h3 Filter
                        canvas#canvas3


        script(src="js/Helper.js")
        script(src="js/app.js")
