doctype html
html(lang='de')
    head
        title Multimedia Processing Video
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', lang='de', content='')
        meta(name='keywords', lang='en', content='')
        meta(name='author', content='Michael Duve, Felix Maulwurf')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
        meta(name='format-detection', content='telephone=no')
        meta(name='robots', content='index,follow,noarchive')

        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")

    body
        main.wrapper
            h1 Multimedia Processing Video
                small von Michael Duve &amp; Felix Maulwurf
            article.content-1
                h2.text-center 1. Colorfilter Brightness
                section.row
                    div.col-md-6
                        video#video1(loop="true" muted="true", autobuffer="true", controls="true")
                            source(src="../assets/v2b.mp4", type="video/mp4")
                    div.col-md-6
                        canvas#canvas1
                section.row
                    h3.text-center controls
                    div.col-md-6
                        div.form-group
                            label Brightness (all channels)
                            input#brightness.form-control(type="range", min="0", max="255", step="1", value="0")
                        div.form-group
                            h4 Filter
                            div.radio
                                label
                                    input(type="radio", name="filter", value="2")
                                    | Grayscale
                            div.radio
                                label
                                    input(type="radio", name="filter", value="1")
                                    | Sepia
                            div.radio
                                label
                                    input(type="radio", name="filter", value="0", checked="checked")
                                    | None
                    div.col-md-6
                        div.form-group
                            label Brightness (red channel)
                            input#rbrightness.form-control(type="range", min="0", max="255", step="1", value="0")
                        div.form-group
                            label Brightness (green channel)
                            input#gbrightness.form-control(type="range", min="0", max="255", step="1", value="0")
                        div.form-group
                            label Brightness (blue channel)
                            input#bbrightness.form-control(type="range", min="0", max="255", step="1", value="0")

                section.row
                    h2.text-center 2. ChromaKey
                    div.row
                        div.col-md-6
                            video#video2(loop="true" muted="true", autobuffer="true", controls="true")
                                source(src="../assets/blue.mp4", type="video/mp4")
                        div.col-md-6
                            canvas#canvas2
                    div.row
                        h3.text-center backgrounds
                        div.col-xs-12
                            div.col-xs-4.text-center
                                div.radio
                                    label
                                        input(type="radio", name="bg", value="2")
                                        | Berlin
                            div.col-xs-4
                                div.radio
                                    label
                                        input(type="radio", name="bg", value="1")
                                        | Wolke
                            div.col-xs-4
                                div.radio
                                    label
                                        input(type="radio", name="bg", value="0", checked="checked")
                                        | None

        script(src="js/Helper.js")
        script(src="js/app.js")

        script.
            window.onload = () => {
                const _app = new Application();
            };
