doctype html
html(lang='de')
    head
        title Multimedia Processing Video
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', lang='de', content='')
        meta(name='keywords', lang='en', content='')
        meta(name='author', content='Michael Duve, Felix Maulwurf')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
        meta(name='format-detection', content='telephone=no')
        meta(name='robots', content='index,follow,noarchive')

        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")

    body
        p.alert.alert-warning Nur in neueren Chrome-Versionen getestet
        main.wrapper
            h1 Multimedia Processing Video
                small von Michael Duve &amp; Felix Maulwurf
            article.content-1
                h2.text-center 1 &amp; 2) Helligkeitsfilter
                section.row
                    div.col-md-6
                        video#video1(loop="true" muted="true", autobuffer="true", controls="true", data-src="../assets/tagesschau.mp4")
                            source(src="../assets/tagesschau.mp4", type="video/mp4")
                    div.col-md-6
                        canvas#canvas1
                section.row
                    h3.text-center controls
                    div.col-md-6
                        div.form-group
                            label Helligkeit (alle Kanäle)
                            input#brightness.form-control(type="range", min="-255", max="255", step="1", value="0")
                        div.form-group
                            h4 Filter
                            div.radio
                                label
                                    input(type="radio", name="filter", value="2")
                                    | Graustufen
                            div.radio
                                label
                                    input(type="radio", name="filter", value="1")
                                    | Sepia
                            div.radio
                                label
                                    input(type="radio", name="filter", value="0", checked="checked")
                                    | Keiner
                    div.col-md-6
                        div.form-group
                            label Helligkeit (Rot)
                            input#rbrightness.form-control(type="range", min="-255", max="255", step="1", value="0")
                        div.form-group
                            label Helligkeit (Grün)
                            input#gbrightness.form-control(type="range", min="-255", max="255", step="1", value="0")
                        div.form-group
                            label Helligkeit (Blau)
                            input#bbrightness.form-control(type="range", min="-255", max="255", step="1", value="0")
                    p.
                        Helligkeitsregler für RGB haben eine Gewichtung erhalten, weil das menschliche Auge Farbhelligkeiten unterschiedlich wahrnimmt. Die Gewichtungen sind:
                    ul
                        li Rot: 0.3
                        li Grün: 0.59
                        li Blau: 0.11
                    p Quelle: &nbsp;
                        a(href="http://www.tannerhelland.com/3643/grayscale-image-algorithm-vb6/", target="_blank") Grayscale Image Algorithms: Method 2 – Correcting for the human eye
                    p.
                        Für den Sepiaeffekt wird das Bild in S/W dargestellt und der rote Kanal mit 100 addiert und der grüne Kanal mit 50 (Erfahrungswerte).
                section.row
                    h2.text-center 3) Farbbasierte Bildfreistellung
                    div.row
                        div.col-md-6
                            video#video2(loop="true" muted="true", autobuffer="true", controls="true", data-src="../assets/blue.mp4")
                                source(src="../assets/blue.mp4", type="video/mp4")
                        div.col-md-6
                            canvas#canvas2
                    div.row
                        h3.text-center Hintergrund
                        div.col-xs-12
                            div.col-xs-2.text-center.col-xs-offset-3
                                div.radio
                                    label
                                        input(type="radio", name="bg", value="2")
                                        | Berlin
                            div.col-xs-2
                                div.radio
                                    label
                                        input(type="radio", name="bg", value="1")
                                        | Wolke
                            div.col-xs-2
                                div.radio
                                    label
                                        input(type="radio", name="bg", value="0", checked="checked")
                                        | None
                    div.row#chroma
                        h3.text-center ChromaKey Einstellungen
                        div.col-md-3.col-md-offset-3
                            div.form-group
                                label Minimum Rot
                                input#chromaRMin.form-control(type="number", value="20", min="0", max="255")
                            div.form-group
                                label Minimum Grün
                                input#chromaGMin.form-control(type="number", value="35", min="0", max="255")
                            div.form-group
                                label Minimum Blau
                                input#chromaBMin.form-control(type="number", value="90", min="0", max="255")
                        div.col-md-3
                            div.form-group
                                label Maximum Rot
                                input#chromaRMax.form-control(type="number", value="68", min="0", max="255")
                            div.form-group
                                label Maximum Grün
                                input#chromaGMax.form-control(type="number", value="105", min="0", max="255")
                            div.form-group
                                label Maximum Blau
                                input#chromaBMax.form-control(type="number", value="190", min="0", max="255")

                section.row.text-center
                    h2.text-center 4) Nutzung der Kamera
                    div.row
                        button#cameraStart.btn.btn-success Starte Kamera
                        button#cameraStop.btn.btn-danger Stoppe Kamera


        script(src="js/Helper.js")
        script(src="js/app.js")

        script.
            window.onload = () => {
                const _app = new Application();
            };
